.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9%;
    background-color: var(--white);
    z-index: 100;
}

.navbar-top .logo{
    color: var(--primary);
    font-family: 'Yeseva One', 'cursive';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 20px;
}

.navbar-top .logo span{
    color: var(--secondary);
}

.top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.top-left .item{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.top-left .item .content p{
    color: var(--primary);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.top-left .item .content p:last-child{
    color: var(--secondary);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

/********** 
NavBar Bottom
**********/

.navbar-bottom{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    padding: 20px 9%;
}

.navbar-bottom.sticky{
    position: sticky;
    top: 0;
}

.navbar-bottom .logo{
    display: none;
    color: var(--accent);
    font-family: 'Yeseva One', 'cursive';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 20px;
    z-index: 10;
}
.navbar-bottom .logo span{
    color: var(--white);
}

.nav-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.nav-links .link{
    color: var(--white);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.nav-links .link:hover,
.nav-links .link.active{
    color: var(--accent);
    font-weight: 600;
}

.left-side{
    display: flex;
    align-items: center;
    column-gap: 20px;
    z-index: 10;
}

.left-side .search{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    height: 150px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.left-side .search.show{
    display: flex;
}

.left-side .search input{
    min-width: 280px;
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    padding: 0 25px;
    margin: 0 20px;
    background-color: #f1f1f1;
    color: var(--primary);
}

.left-side .search-icon{
    display: inline-flex;
    font-size: 30px;
    line-height: 15px;
    color: var(--white);
    column-gap: 20px;
    cursor: pointer;
}

.left-side .search-icon.show{
    color: var(--white);
}


.left-side .appointment a{
    color: var(--primary);
}

.left-side .appointment:hover a{
    color: var(--white);
}

.left-side .appointment:hover{
    color: var(--white);
    background-color: var(--secondary);
}

.left-side .toggle-menu{
    display: none;
}

.left-side .toggle-menu{
    font-size: 30px;
    line-height: 15px;
    color: var(--white) !important;
}


/*********
 Heading 
*********/
.heading .caption{
    text-align: center;
    color: var(--secondary);
}

.heading h2{
    color: var(--primary);
    text-align: center;
}



/**********
Booking
***********/
.homeForm{
    flex: 1;
    z-index: 11;
}


.homeForm .fields{
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 50%);
}

.homeForm input, .homeForm .select-box{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    outline: none;
    border: 0.5px solid var(--accent);
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
}

.homeForm .date, .homeForm .time{
    position: relative;
}
.homeForm .date input, .homeForm .time input{
    opacity: 0;
    cursor: pointer;
}

.homeForm .setdate{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid var(--accent);
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    z-index: -1;
}


.homeForm .select-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 5px;
}

.homeForm .select-box.show .options{
    top: 50px;
    left: 20px;
    z-index: 10;   
    opacity: 1; 
}

.homeForm .select-box .options{
    position: absolute;
    display: block;
    top: 20px;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: .5s ease;
}

.homeForm .select-box .options p{
    line-height: 40px;
    color: var(--primary);
    border: .1px solid var(--primary);
    background-color: var(--accent);
    border-radius: 2px;
    padding: 0 20px;
    user-select: none;
}

.homeForm .select-box .options p:hover,
.homeForm .select-box .options p.selected:hover{
    background-color: #41b9ff;
}

.homeForm .select-box .options p.selected{
    color: #f1f1f1;
    background-color: #2ca4e9;
}

::placeholder{
    color: var(--white);
}

.homeForm textarea{
    width: 100%;
    height: 190px;
    padding: 20px;
    background-color: var(--primary);
    color: var(--white);
    outline: none;
    border-radius: 5px 5px 0 0;
    resize: none;
    border: .5px solid var(--primary);
}

.homeForm button{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    color: var(--primary);
    background-color: var(--accent);
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: .3s ease;
}

.homeForm button:hover{
    color: var(--accent);
    background-color: var(--secondary);
}

/**********
Doctors Section
***********/
.doctors .heading{
    margin-bottom: 64px;
}

.doctors{
    padding-top: 50px;
}


.doctors .swiper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    padding-bottom: 50px;
}

.swiper-pagination{
    bottom: 100px;
}

.doctors .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    max-width: 317px;
    height: fit-content;
  }

.doctors .card{
    display: block;
    width: 100%;
}

.doctors .card .image{
    display: flex;
}

.doctors .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.doctors .card .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 24px;
    background-color: var(--accent);
}

.doctors .card .content .icon{
    font-size: 24px;
    border-radius: 50%;
    margin: 15px 10px;
}

.doctors .card .content button{
    width: 100%;
    height: 46px;
    background-color: var(--primary);
    color: var(--accent);
    outline: none;
    border: none;
    border-radius: 0 0 5px 5px;
}


/**********
News Section
***********/

.sm-card .swiper-grid-column > .swiper-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 40px 0;
    margin-top: 60px;
}

.sm-card .swiper-pagination{
    bottom: -20px;
}

.sm-card .swiper-slide{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0 !important;
}

.sm-card .news-card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 5px;
    background: var(--white, #FCFEFE);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.sm-card .news-card .image{
    min-width: 160px;
    height: 154px;
    margin-right: 10px;
}

.sm-card .news-card .image img{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
    object-position: left;
}

.sm-card .news-card .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
}

.sm-card .news-card .content h3 a{
    color: var(--secondary);
    cursor: pointer;
}
.sm-card .news-card .content h3 a:hover,
.sm-card .news-card .content a:hover{
    font-weight: 500;
}

.sm-card .news-card .content a{
    color: var(--black);
    cursor: pointer;
}


.sm-card .news-card .content .icons{
    display: flex;
    justify-items: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.sm-card .news-card .content .views, .likes{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.sm-card .news-card .content .views:hover,
 .sm-card .news-card .content .likes:hover{
    transform: scale(1.1);
}


/**********
Contact Section
***********/
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 64px;
}

.contact .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 233px;
    height: 233px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--accent);
    transition: .3s ease;
}

.contact .col .icon{
    font-size: 40px;
    margin-bottom: 7px;
}

.contact .col:hover{
    background-color: var(--primary);
    color: var(--accent);
}

.contact .caption{
    letter-spacing: 0.2px;
}

/**********
Footer
***********/
footer{
    background: var(--primary);
    padding: 60px 0;
}

footer .container{
    display: flex;
    flex-direction: column;
}

footer .container .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-top .col{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-top .col p{
    color: var(--white);
}

.footer-top .col h1{
    color: var(--accent);
}

.footer-top .col .body1{
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-top .col .email{
    position: relative;
    width: 272px;
    height: 50px;
}

.footer-top .col input{
    width: 100%;
    height: 100%;
    color: var(--primary);
    background-color: var(--accent);
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

.footer-top .col input::placeholder{
    color: var(--primary);
}

.footer-top .col .icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--primary);
    cursor: pointer;
    transition: 1s ease;
}

.footer-top .col .icon:hover{
    color: var(--secondary);
    transform:rotate(45deg);
    top: 35%;
}

footer .container .line{
    width: 100%;
    height: 1px;
    background-color: var(--accent);
    margin: 45px 0;
}


.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p{
    color: var(--white);
}

.footer-bottom .social-media{
    display: flex;
    gap: 10px;
}

.footer-bottom .icon{
    font-size: 24px;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--accent);
    color: var(--primary);
    cursor: pointer;
}

.footer-bottom .icon:hover{
    background-color: var(--secondary);
    color: var(--white);
}


/**********
SubHeader
***********/
.sub-header{
    position: relative;
    overflow: hidden;
}

.sub-header .image{
    width: 100%;
    max-height: 250px;
}

.sub-header .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -140px;
    opacity: 0.5;
}

.sub-header .image .circle1{
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    top: -150px;
    left: -180px;
    border-radius: 50%;
    background: var(--secondary);
    opacity: 0.5;
}

.sub-header .image .circle2{
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    bottom: -150px;
    right: -150px;
    border-radius: 50%;
    background: var(--accent);
    opacity: 0.5;
}

.sub-header .content{
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.sub-header .content p, .sub-header .content h1{
    color: var(--primary);
    max-width: 90%;
}

.sub-header .line{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
}

.line .left{
    flex: 1;
    height: 8px;
    background-color: var(--accent);
}
.line .center{
    flex: 2;
    height: 8px;
    background-color: var(--primary);
}
.line .right{
    flex: 1;
    height: 8px;
    background-color: var(--secondary);
}


/* ***** Welcome Component ***** */

.welcome-component{
    padding: 0 20px;
    max-width: 550px;
}
.welcome-component .heading p, .welcome-component .heading h2{
    text-align: left;
}

.welcome-component .goals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    margin: 20px 0;
}

.welcome-component .goals li{
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 0;
}

.welcome-component .goals li .dot{
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: var(--secondary);
}


/**********
Services Details
***********/

.sv-details{
        width: 100%;
        min-height: 100vh;
}

.sv-details .services-center{
    padding: 0 20px;
    max-width: 900px;
}

.sv-details .services-left .row{
    width: 240px;
    height: 80px;
    padding: 24px;
}

.sv-details .services-center .image{
    max-width: 731px;
    height: auto;
    margin-bottom: 30px;
}

.sv-details .services-center .image img{
    width: 100%;
    height: auto;
}

/**********
NewsDetails Design 
***********/

.news-details{
    width: 100%;
    min-height: calc(100vh - 170px);
}

.news-details-container{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-top: 44px;
}

.news-details-container .content{
    flex: 3;
}

.prev-next{
    max-width: 658px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-page-container .content .prev-next button{
    margin-top: 0;
}

















@media screen and (max-width: 1150px) {
    .navbar-top,
    .navbar-bottom{
        padding: 20px 7%;
    }

    .navbar-top .logo{
        font-size: 34px;
    }

    .top-left .item .content p,
    .top-left .item .content p:last-child{
        font-size: 14px;
    }
    .nav-links .link{
        font-size: 17px;
    }

    /*  */
    

    /* About Page */
    .sub-header .image img{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        object-position: center -80px;
        opacity: 0.5;
    }

    /* btn more */
    .btn-more{
        padding: 11px 22px;
        gap: 7px;
        font-size: 15px;
      }

}

@media screen and (max-width: 900px) {
    .navbar-top,
    .navbar-bottom{
        padding: 20px 5%;
    }
    .navbar-top{
        justify-content: center;
    }

    .navbar-top .logo{
        display: none;
    }

    .navbar-bottom .logo{
        font-size: 32px;
    }

    .left-side .search.show{
        top: 74px;
        height: 120px;
        opacity: 1;
        z-index: 10;
    }

    .top-left .item .content p,
    .top-left .item .content p:last-child{
        font-size: 13px;
    }

    .nav-links{
        position: absolute;
        left: 0;
        top: -100%;
        width: 100%;
        height: fit-content;
        background-color: var(--primary);
        padding: 20px;
        z-index: -1;
        transition: .4s ease-in-out;
        opacity: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        font-size: 14px;
        line-height: 40px;
    }
    .nav-links.active{
        top: 100%;
        opacity: 1;
    }

    .navbar-bottom .logo{
        display: inline-flex;
    }

    .left-side .toggle-menu{
        display: block;
    }

    .navbar-bottom .appointment{
        display: none;
    }


    /*  */
    .booking .fields{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    /*  */
    .doctors .swiper-slide{
        width: 251px;
    }

    /*  */

    .sm-card .news-card .image{
        min-width: 120px;
        height: 146px;
        margin-right: 5px;
    }

    .sm-card .news-card .content{
        gap: 5px;
        padding: 5px;
    }

    /*  */
    .footer-top .col{
        min-width: 250px;
        gap: 5;
    }

    .footer-top .col .body1{
        margin-bottom: 10px;
    }

    .footer-top .col .email{
        position: relative;
        width: 250px;
        height: 40px;
    }
    /*  */
    .sv-details .services-left .row{
        width: 200px;
        height: 70px;
        padding: 14px;
    }

    /* btn more */
    .btn-more{
        padding: 9px 18px;
        gap: 6px;
        font-size: 14px;
      }}


@media screen and (max-width: 650px) {
    .navbar-top,
    .navbar-bottom{
        padding: 20px 3%;
    }

    .navbar-bottom .logo{
        font-size: 30px;
    }

    .top-left .item .content p,
    .top-left .item .content p:last-child{
        font-size: 12px;
    }

    /*  */
    .specialties-container{
        display: none;
    }

    /*  */
    .booking .fields{
        display: grid;
        grid-template-columns: 100%;
    }

    /*  */
    .sm-card .news-card{
        display: none;
    }

    /*  */
    .contact{
        display: none;
    }

    /*  */
    .footer-top .col .body1{
        margin-bottom: 0px;
    }

    .footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    /* About Page */
    .sub-header .image{
        max-height: 150px;
    }
    .sub-header .image .circle1{
        width: 150px;
        height: 150px;
        top: -80px;
        left: -80px;
    }
    
    .sub-header .image .circle2{
        width: 150px;
        height: 150px;
        bottom: -80px;
        right: -80px;
    }
    .sub-header .image img{
        object-position: center 0px;
    }

    /* services Details */
    .sv-details .services-center{
        display: block;
    }

    .sv-details .services-row{
        display: block;
    }
    .sv-details .services-left .top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sv-details .services-left .top .row{
        width: 120px;
    }

    /* btn more */
    .btn-more{
        padding: 8px 16px;
        gap: 5px;
        font-size: 13px;
      }
}



@media screen and (max-width: 450px) {
    /* btn more */
    .btn-more{
        padding: 6px 12px;
        gap: 4px;
        font-size: 12px;
        }
}