@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --white: #FCFEFE;
  --black: #212124;
  --accent: #BFD2F8;
  --primary: #1F2B6C;
  --secondary: #159EEC;
  --border: #e8e7e7;
}
section{
  padding: 20px 9%;
  margin-bottom: 100px;
}

.padding{
  padding: 20px 9%;
}

.btn{
  display: inline-flex;
  padding: 13px 35px;
  align-items: flex-start;
  border-radius: 50px;
  background: var(--accent, #BFD2F8);
  gap: 10px;
  transition: 0.3s ease;
  cursor: pointer;

  color: var(--primary, #1F2B6C);
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.btn:hover,
.btn-more:hover{
  background-color: var(--primary);
  color: white;
}

.btn-more{
  display: inline-flex;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--accent, #BFD2F8);
  gap: 8px;
  transition: 0.3s ease;
  cursor: pointer;
  border: none;

  color: var(--primary, #1F2B6C);
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.more{
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
}

.more p{
  color: var(--secondary);
}

h1{
  font-family: 'Yeseva One', 'cursive';
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
}

h2{
  font-family: 'Yeseva One', 'cursive';
  font-size: 32px;
  font-weight: 400;
  text-transform: capitalize;
}

.title{
  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-transform: capitalize;
}

.caption{
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.body1{
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.body2, input, select{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.small{
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1150px) {
  section, .padding{
    padding: 20px 7%;
  }
  
  h1{
    font-size: 34px;
  }
  h2{
    font-family: 'Yeseva One', 'cursive';
    font-size: 28px;
    font-weight: 400;
  }
  .caption{
    font-size: 17px;
  }
  .title{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  .body1{
    font-size: 16px;
  }
  
  .body2, input, select{
    font-size: 15px;
  }
  
  .small{
    font-size: 13px;
  }
}


@media screen and (max-width: 950px) {
  section, .padding{
    padding: 20px 5%;
  }

  .caption{
    font-size: 16px;
  }

  h1{
    font-size: 34px;
  }
  h2{
    font-family: 'Yeseva One', 'cursive';
    font-size: 24px;
    font-weight: 400;
  }
  .title{
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  .body1{
    font-size: 16px;
  }
  .body2, input, select{
    font-size: 14px;
  }
  
  .small{
    font-size: 12px;
  }
}


@media screen and (max-width: 650px) {
  section, .padding{
    padding: 20px 3%;
    margin-bottom: 50px;
  }

  .caption{
    font-size: 14px;
  }

  h1{
    font-size: 24px;
  }
  h2{
    font-family: 'Yeseva One', 'cursive';
    font-size: 20px;
    font-weight: 400;
  }
  .title{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .body1{
    font-size: 14px;
  }
  .body2, input, select{
    font-size: 12px;
  }
  
  .small{
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .caption{
    font-size: 12px;
  }

  h1{
    font-size: 18px;
  }
  h2{
    font-family: 'Yeseva One', 'cursive';
    font-size: 16px;
    font-weight: 400;
  }
  .title{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
  }
  .body1{
    font-size: 12px;
  }
  .body2, input, select{
    font-size: 10px;
  }
  
  .small{
    font-size: 9px;
  }
}