.appointment-page{
    width: 100%;
    min-height: calc(100vh - 70px);
}

.appointment-page .appointment-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.booking-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 64px;
}

.booking-left{
    flex: 1;
}

.booking-left h2{
    color: var(--primary);
    margin-bottom: 10px;
}

.booking-left form{
    margin-top: 64px;
}


.booking-left .fields{
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 50%);
}

.booking-left input, .booking-left .select-box{
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    outline: none;
    border: 0.5px solid var(--accent);
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
}

.booking-left .date, .booking-left .time{
    position: relative;
}
.booking-left .date input, .time input{
    opacity: 0;
    cursor: pointer;
}

.booking-left .setdate{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid var(--accent);
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    z-index: -1;
}


.select-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 5px;
}

.select-box.show .options{
    display: block;
}

.select-box .options{
    position: absolute;
    display: none;
    top: 50px;
    width: 100%;
    transition: .3s ease;
    z-index: 10;
}

.select-box .options p{
    line-height: 40px;
    color: var(--primary);
    border: .1px solid var(--primary);
    background-color: var(--accent);
    border-radius: 2px;
    padding: 0 20px;
    user-select: none;
}

.select-box .options p:hover{
    color: var(--accent);
    background-color: var(--secondary);
    filter: brightness(90%);
}

.select-box .options p.selected{
    color: var(--accent);
    background-color: var(--secondary);
}

::placeholder{
    color: var(--white);
}

.booking-left textarea{
    width: 100%;
    height: 190px;
    padding: 20px;
    background-color: var(--primary);
    color: var(--white);
    outline: none;
    border-radius: 5px 5px 0 0;
    resize: none;
    border: .5px solid var(--primary);
}

.booking-left button{
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    color: var(--primary);
    background-color: var(--accent);
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: .3s ease;
}

.booking-left button:hover{
    color: var(--accent);
    background-color: var(--secondary);
}

/* right side */

.booking-right{
    flex: 1;
    width: 100%;
    display: flex;
}

.booking-right .work-time{
    width: 100%;
    padding: 50px;
    background-color: var(--primary);
    border-radius: 5px;
}

.booking-right .work-time h1{
    color: var(--accent);
    text-align: center;
    margin-bottom: 50px;
}

.booking-right .work-time .days{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}

.booking-right .work-time .day{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-right .work-time .day p{
    color: var(--white);
}
.booking-right .work-time .day p:first-child{
    width: 80px;
}

.booking-right .work-time .day span{
    width: 20px;
    height: 2px;
    background-color: var(--accent);
    margin-right: 20px;
}

.booking-right .work-time .line{
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background-color: var(--accent);
    margin-bottom: 32px;
}

.booking-right .work-time .emergency{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.booking-right .work-time .emergency .phone-icon{
    width: 50px;
    height: 50px;
    color: var(--accent);
}

.booking-right .work-time .content p{
    text-align: left;
    color: var(--accent);
}




@media screen and (max-width: 1050px) {
    .booking-container{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .booking-left form{
        margin-top: 44px;
    }

    .booking-right .work-time{
        padding: 50px 40px;
    }
}


@media screen and (max-width: 650px) {
    .booking-container{
        margin-top: 30px;
    }

    .booking-left form{
        margin-top: 34px;
    }

    .booking-right .work-time{
        padding: 40px 30px;
    }
}


@media screen and (max-width: 450px) {
    .booking-container{
        margin-top: 10px;
    }

    .booking-left form{
        margin-top: 24px;
    }

    .booking-right .work-time{
        padding: 30px 10px;
    }
}